<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Assignment 2 RESTServer</title>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.css" rel="stylesheet">
	<script type="text/javascript" src="js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/json2.js"></script>
	<script type="text/javascript" src="js/underscore.js"></script>
	<script type="text/javascript" src="js/backbone.js"></script>
</head>
<body>
	<div class="container">
		<h1>Person Manager</h1>
		<hr/>
		<div class="page"></div>
	</div>

	<script type="text/template" id="person-list-template">
		<table class="table striped">
			<thead>
				<tr>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>Birthdate</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% _.each(person_list, function(person){ %>
					<tr>
						<td><%= person.get('firstname')%></td>
						<td><%= person.get('lastname')%></td>
						<td><%= person.get('birthdate')%></td>
						<td></td>
					</tr>
				<% })%>
			</tbody>
		</table>
	</script>

	<script type="text/javascript">

		// (function() {
		//   var proxiedSync = Backbone.sync;
		//   Backbone.sync = function(method, model, options) {
		//     options || (options = {});
		//     if (!options.crossDomain) {
		//       options.crossDomain = true;
		//     }
		//     if (!options.xhrFields) {
		//       options.xhrFields = {withCredentials:true};
		//     }
		//     return proxiedSync(method, model, options);
		//   };
		// })();

	  $.ajaxPrefilter(function(options, originalOptions, jqXR){
	  	jqXR.setRequestHeader('Accept', 'application/json');
	  	jqXR.setRequestHeader('Access-Control-Allow-Headers', 'Content-Type, Authorization, Accept, X-Requested-With');
	  	jqXR.setRequestHeader('Access-Control-Allow-Methods','OPTIONS, TRACE, GET, HEAD, POST, PUT, DELETE');
	  	jqXR.setRequestHeader('Access-Control-Allow-Origin', '*');

	  	options.crossDomain ={
        crossDomain: true
    	};
    	options.xhrFields = {
        withCredentials: true
    	};
	  	
	  	options.url = "Origin:http://192.168.0.2:5900" + options.url; 
	  });

	  var Persons = Backbone.Collection.extend({
	  	url : '/person'
	  })

		var PersonList = Backbone.View.extend({
			el: '.page',
			render: function(){
				console.log("DENTRO RENDER!");
				that = this;
				var persons = new Persons();
				persons.fetch({
					success: function(person_list){
						console.log("CAZZO!");
						console.log(person_list);
						var template = _.template($('#person-list-template').html(), {person_list: person_list.models});
						this.$el.html(template);
					}
				});
			}
		});

	  var Router = Backbone.Router.extend({
	  	routes: {
	  		'' : "home"
	  	}
	  });

	  var personList = new PersonList();

	  var router = new Router();
	  router.on('route:home', function(){
	  	personList.render();
	  });

	  Backbone.history.start();
	</script>
</body>
</html>